.container-alljobs {
  padding: 30px;
  max-width: 100%; /* Increased width for 4x4 grid */
  margin: auto;
  background-color: #0f291f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(J:\AtsAugFend\atsfrontend\src\components\assets\allj.jpg);
}

.title {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.jobs-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Space between grid items */
}

.no-jobs {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  grid-column: span 4; /* Span all columns when no jobs available */
}

.job-item {
  background-color: #ffffff; /* White background for job items */
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between job details and button */
}

.job-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.job-title {
  font-size: 1.5rem;
  color: #0f291f; /* Dark green color for job titles */
  margin-bottom: 10px;
}

.apply-button {
  background-color: #0f291f; /* Dark green background */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #0d1b11; /* Darker green on hover */
}
