/* Contact.css */

.contact-outer-con-one {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  width: 100%;
}

.contact-section-con-one {
  width: 100%;
  max-width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contact-section-con-one h2 {
  color: black;
  margin-bottom: 20px;
}

.contact-form-con-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-group-con-one {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.form-group-con-one label {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.form-group-con-one input,
.form-group-con-one textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-size: 16px;
}

.form-group-con-one input::placeholder,
.form-group-con-one textarea::placeholder {
  color: black;
}

.form-group-con-one textarea {
  min-height: 100px;
  resize: vertical;
}

.button-wrapper-contact-con-one {
  margin-top: 10px;
  width: 100%;
}

.submit-button-con-one {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.submit-button-con-one:hover {
  background-color: #333;
}
