.contact-outer-renamed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: rgb(1, 5, 1);
  }
  
  body {
    margin-top: 3px;
  }
  
  .contact-section-renamed {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    max-width: 70%;
    margin-top: -150px;
  }
  
  .contact-section-renamed h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: whitesmoke;
  }
  
  .contact-form-renamed {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
  }
  
  .form-group-renamed {
    margin-bottom: 15px;
  }
  
  .form-group-renamed label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group-renamed input,
  .form-group-renamed textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid whitesmoke;
    background-color: rgb(1, 5, 1);
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }
  
  .form-group-renamed textarea {
    height: 150px;
    resize: vertical;
  }
  
  .submit-button-renamed {
    background-color: rgb(5, 41, 17);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 500px;
    cursor: pointer;
    font-size: 1.1em;
    align-self: center;
    transition: background-color 0.3s ease;
    border-radius: 30%;
  }
  
  .submit-button-renamed:hover {
    background-color: #000000;
  }
  
  .button-wrapper-contacthr {
    display: flex;
    justify-content: space-around; 
    width: 100%;
  }